* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 4px solid #5d6d7e;
    border-left: none;
    transition: width 0.3s; /* Smooth transition for width change */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

@media (max-width: 880px) {
    .sidebar {
        width: 0; /* Set width to 0 for smaller screens */
        overflow: hidden; /* Hide overflow content */
        padding: 0; /* Ensure padding is 0 */
        margin: 0; /* Ensure margin is 0 */
        border: none; /* Ensure no border is present */
    }
    #content {
        margin-left: 20px !important; /* Adjust margin-left for smaller screens */
    }
    .title-bar {
        left: 20px !important;
    }
}

@media (max-width: 1300px) {
    .title-bar h2 {
        display: none !important; /* Hide h2 in title bar for smaller screens */
    }
}

.title-bar {
    position: fixed;
    top: 0;
    left: 240px;
    right: 20px;
    height: 80px;
    background-color: #34495e;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border: 4px solid #5d6d7e;
    border-top: none;
    border-radius: 0 0 20px 20px;
    z-index: 1;
    gap: 20px;
}

.logo-container {
    height: 50px;
}

.logo-container img {
    height: 100%;
    display: block;
    object-fit: contain;
}

.title-bar h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
}

/* Content area */
#content {
    flex: 1;
    margin-left: 225px;
    margin-top: 80px;
    padding: 20px;
}

/* Navigation items */
.nav-item {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #3b5998;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #e0ca3c;
}

.donate-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.donate-button:hover {
    background-color: #0056b3;
}

h1,
h2 {
    font-size: 2rem;
    color: #34495e;
    font-weight: 700;
    margin-bottom: 0.8rem;
    line-height: 1.2;
    border-bottom: 2px solid #34495e;
    padding-bottom: 0.2rem;
}

h2 {
    margin-top: 20px;
}

h3 {
    font-size: 1.4rem;
    color: #5d6d7e;
    font-weight: 600;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    color: #2c3e50;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

a {
    color: #007bff;
    text-decoration: underline;
    font-weight: 600;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.social-links {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links a {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links i {
    font-size: 1.5em;
    margin-right: 10px;
}

.social-links a[href*="facebook.com"] {
    color: #3b5998;
}
.social-links a[href*="instagram.com"] {
    color: #e4405f;
}
.social-links a[href*="tiktok.com"] {
    color: #000000;
}
.social-links a[href*="mailto"] {
    color: #d;
}
.container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}
